In [4]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ASUS\Desktop\Advertising.csv")
df = df.iloc[:,1:len(df)]
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [5]:
df.info()
X = df[["TV","radio","newspaper"]]
y = df[["sales"]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [6]:
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [7]:
y.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [8]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.20 , random_state = 99)

In [11]:
X_train.head()

        TV  radio  newspaper
16    67.8   36.6      114.0
51   100.4    9.6        3.6
97   184.9   21.0       22.0
164  117.2   14.7        5.4
71   109.8   14.3       31.7

In [12]:
y_train.head()

     sales
16    12.5
51    10.7
97    15.5
164   11.9
71    12.4

In [13]:
y_test.head()

     sales
135   11.6
127    8.8
191    9.9
66     9.5
119    6.6

In [16]:
from sklearn.linear_model import LinearRegression 
lm = LinearRegression()
model = lm.fit(X_train, y_train)

In [20]:
from sklearn.metrics import mean_squared_error
#eğitim hatası
np.sqrt(mean_squared_error(y_test, model.predict(X_test)))

1.4312783138301641

In [22]:
#test hatası
np.sqrt(mean_squared_error(y_train, model.predict(X_train)))

1.7236824822650754

In [23]:
# k-katlı cv
from sklearn.model_selection import cross_val_score
cross_val_score(model, X_train, y_train, cv = 10, scoring = "neg_mean_squared_error")

array([-2.1019073 , -2.48953197, -3.09704214, -2.34694216, -3.68175761,
       -1.8691401 , -3.18173007, -4.1927349 , -2.17128376, -8.03821974])

train seti üzerinde  10 farklı hata hesabı yapıldı. train seti kendi içinde 10 paraya bölündü. 9 parça ile eğitim yapıldı, model kuruldu ve 1 parça ile de test edildi. bu 10 kere yapıldı.

In [26]:
# cv mse değeri
np.mean(-cross_val_score(model, X_train, y_train, cv = 10, scoring = "neg_mean_squared_error"))

3.317028974234127

In [28]:
# cv rmse değeri
np.sqrt(np.mean(-cross_val_score(model, X_train, y_train, cv = 10, scoring = "neg_mean_squared_error")))

1.821271252239525